.page-container {
    display: flex;
    height: 100vh;
}

/* 왼쪽: 공정 목록 */
.category-list {
    flex: 7;
    padding: 30px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

/* 오른쪽: 공정 등록 폼 */
.category-form {
    flex: 3;
    padding: 30px;
    background-color: #ffffff;
    border-left: 1px solid #ddd;
}

/*.process-form h2 {*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    color: #333;*/
/*    margin-bottom: 24px;*/
/*}*/

.category-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-form label {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.category-form input {
    margin-top: 6px;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #bbb;
    border-radius: 6px;
    transition: border-color 0.2s ease;
}

.category-form input:focus {
    border-color: #007bff;
    outline: none;
}

.category-form button {
    padding: 14px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.category-form button:hover {
    background-color: #0056b3;
}
