.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    background-color: #f9f9f9;
}